@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	background-color: whitesmoke;
}

h1,h2,h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}

h1 {
	font-size: 3rem;
	margin: 0;
}

h2 {
	font-size: xx-large;
}

header {
	color: beige;
}

header > p {
	color: white;
}

header {
	background-color: black;
}

#drinks {
	padding: 1rem 0;
	margin-bottom: 80px;
	background: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffee-beans.jpg') center center / cover no-repeat fixed;
}

.text-white {
	color: #FFFFFF;
}

.black-background {
    background-color: black;
}

#home {
    background-image: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffeehouse.jpg');
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}

.form-page-header {
	background-image: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/table.jpg')
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

strong {
	font-size: 1.3rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

nav {
	padding: 1rem;
}

nav > a {
	text-decoration: none;
	color: beige;
	margin: 1rem;
}

nav > a:hover {
	color: silver;
}

.bold {
	font-weight: bold;
}

small {
	font-style: italic;
}

img {
	border-radius: 8px;
	width: 96%;
	margin: 2%;
}

#coffee-box {
	background-color: brown;
    position: relative;
    left: 70px;
    top: -15px;
}

#tea-box {
	background-color: #6f4e37;
	position: relative;
	z-index: 1;
}

#cold-drinks-box {
	background-color: chocolate;
    position: relative;
    right: 70px;
    top: -15px;
}

.vertical-center {
    position: relative;
    top: 50%;
}

.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.two-thirds-width-column {
    width: 66.66%;
    display: inline-block;
}

.reasons-box {
	padding: 10px 5px 25px 5px;
	border-radius: 8px;
	width: 100%;
	margin: 2%;
	background-color: chocolate;
    position: relative;
    left: 20%;
    top: 30px;
}

.drinks-box {
	width: 33%;
	margin: 1rem 0;
	display: inline-block;
}

/* padding to allow for fixed footer */
#contact {
    margin-bottom: 50px;
}

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid black;
}

ul {
	padding: 0;
}

#reasons li {
    margin-top: 5%;
}

a:hover {
	text-decoration: none;
	color: chocolate;
}

footer {
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

fieldset {
	border: none;
	margin-top: 20px;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #5e361b;
	color: white;
	border: none;
	border-radius: 5px;
}

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
}

/* overrides css above */
input[list=coffees] {
    width: 45%;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

.block-label {
	display: block;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

#reasons li {
    margin-top: 5%;
}

#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}

/* map */
#map-wrapper {

    height: 300px;
    margin-bottom: 55px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}
